/* Universal Styles */
* {
	margin: 0;
	padding: 0;
}

body {
	width: 80%;
	display: block;
	margin: 0 auto;
	font-family: Gudea, sans-serif;
	font-size: 15px;
}
/* Head Styles */

header {
	display: block;
	margin: 0 auto;
	width: 100%;
    max-width: 780px;
    padding: 30px 0px 0px 0px;
}
h1 {
	text-align: center;
	font-family: Gudea, sans-serif;
 	font-weight: 700;
 	font-size: 25px;
	line-height: 50px;
	text-transform: uppercase;
}

h1 span {
	font-family: 'Rancho', cursive;
	display: block;
	font-size: 70px;
	text-transform: none;
}

img {
	width: 100%;
}

nav {
	text-align: center;
}

nav a {
    text-decoration: none;
    text-align: center;
    font-family: Gudea, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    margin: 10px;
    font-weight: 400;
}
}

nav a:visited {
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
}

/* Body Styles */
.home-first-list {
	background-color: lightgrey;
}

.footer {
	text-align: center;
	background-color: lightgrey;
	padding: 30px;
	position: relative;
	top: 20px;
}



@media only screen  and (min-width : 1024px) {
	img {
		display: block;
		margin: 0 auto;
		clear: both;
	}

	h1 {
		float: left
	}

	.head-img {
		width: 70%;
		margin-top: 50px;
		clear: both;
	}
	nav {
		float: right;
		margin: 64px -15px 0 0;
	}
	nav a {
		font-size: 20px;
	}

/* Body Styles */

	section.head-intro {
		padding: 30px 0;
	}
	.home-first {
		float: left;
		width: 50%;
		padding: 20px 0;
	}

	.home-first-list {
		float: right;
		width: 30%;
		padding: 25px 60px;
	}

	main {
    	width: 70%;
    	display: block;
    	margin: 0 auto;
	}

	section#leia-facts {
		padding: 30px 0px;
	}

	p#about {
		float:left;
		width: 50%;
	}

	img.sleeping-puppy{
		float: right;
		width: 40%;
	}

	.footer {
		clear: both;
	}
}